﻿@model MVCInBuiltFeatures.Models.Library

@{
    ViewBag.Title = "Usuń bibliotekę";
}

<h2>Usuń bibliotekę</h2>

<h3>Jesteś pewien że chcesz usunąć tą bibliotekę ?</h3>
<div>
    <h4>Biblioteka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
