﻿@model MVCInBuiltFeatures.Models.Library

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły biblioteki</h2>

<div>
    <h4>Biblioteka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

    </dl>
</div>
<p>
    @if ((Request.IsAuthenticated && User.IsInRole("Admin")) || (Request.IsAuthenticated && User.IsInRole("Moderator")))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.LibraryID }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
</p>
