﻿@model PagedList.IPagedList<MVCInBuiltFeatures.Models.Library>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Biblioteki";
}

<h2>Lista bibliotek</h2>

<p>
@if ((Request.IsAuthenticated && User.IsInRole("Admin")) || (Request.IsAuthenticated && User.IsInRole("Moderator")))
{
    @Html.ActionLink("Dodaj bibliotekę", "Create", null, new { @class = "btn btn-primary" })
}
</p>
@using (Html.BeginForm("Index", "Libraries", FormMethod.Get))
{
    <p>
        Wyszukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Szukaj</button>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nazwa biblioteki", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Miasto", "Index", new { sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ulica", "Index", new { sortOrder = ViewBag.StreetSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Szczegóły", "Details", null, new { id = item.LibraryID }, new { @class = "btn btn-default" })
                @if ((Request.IsAuthenticated && User.IsInRole("Admin")) || (Request.IsAuthenticated && User.IsInRole("Moderator")))
                {
                    @Html.ActionLink("Edytuj", "Edit", null, new { id = item.LibraryID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Usuń", "Delete", null, new { id = item.LibraryID }, new { @class = "btn btn-default" })
                }
            </div>

</td>
    </tr>
}

</table>
<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
