﻿@model IEnumerable<MVCInBuiltFeatures.Models.Book>

<h3 class="text-center">Ostatnio dodane książki</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">Tytuł</th>
            <th class="text-center">Autor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="row text-center">
                    "@Html.DisplayFor(modelItem => item.Title)"
                </td>
                <td class="row text-center">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
            </tr>
        }
    </tbody>
</table>
