﻿@model IEnumerable<MVCInBuiltFeatures.Models.BooksViewModels>


@{
    ViewBag.Title = "Statystyki";
}
<h2>Statystyki dotyczące strony</h2>
<h3>Całkowita ilość książek: @ViewBag.Books</h3>
<table>
    <tr>
        <th class="text-center">
            Nazwa biblioteki
        </th>
        <th class="text-center">
            Ilość książek
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td class="text-center">
                @item.BookCount
            </td>
        </tr>
    }
</table>
<h3>Ilość użytkowników strony: @ViewBag.Users</h3>




