﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}
<div class="page-header">
    <h1>REST API Książki</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Książki</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: books">
                    <li>
                        <strong><span data-bind="text: LibraryName"></span></strong>: <span data-bind="text: Title"></span>
                        <!-- New code -->
                        <small><a href="#" data-bind="click: $parent.getBookDetail">Szczegóły</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
    <!-- ko if:detail() -->
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Szczegóły</h2>
            </div>
            <table class="table">
                <tr><td>ID</td><td data-bind="text: detail().BookID"></td></tr>
                <tr><td>Biblioteka</td><td data-bind="text: detail().LibraryName"></td></tr>
                <tr><td>Tytuł</td><td data-bind="text: detail().Title"></td></tr>
                <tr><td>Autor</td><td data-bind="text: detail().Author"></td></tr>
                <tr><td>ISBN</td><td data-bind="text: detail().Isbn"></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Dodaj książkę</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addBook">
                    <div class="form-group">
                        <label for="inputLibrary" class="col-sm-2 control-label">Biblioteka</label>
                        <div class="col-sm-10">
                            <select data-bind="options:libraries, optionsText: 'Name', value: newBook.Library"></select>
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newBook">

                        <label for="inputTitle" class="col-sm-2 control-label">Tytuł</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value:Title" placeholder="Tytuł" />
                        </div>

                        <label for="inputAuthor" class="col-sm-2 control-label">Autor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAuthor" data-bind="value:Author" placeholder="Autor" />
                        </div>

                        <label for="inputIsbn" class="col-sm-2 control-label">ISBN</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputIsbn" data-bind="value:Isbn" placeholder="ISBN" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

