﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:adrian.andrearczyk@gmail.com">adrian.andrearczyk@gmail.com</a><br />
    <strong>Email uczelniany:</strong> <a href="mailto:s12622@pjwstk.edu.pl">s12622@pjwstk.edu.pl</a>
</address>

<address>
    <strong>Repozytoria:</strong> <a href="https://bitbucket.org/AdrianAndrearczyk/">bitbucket.com</a>
</address>