﻿@{
    ViewBag.Title = "Strona główna";
}
<!--carousel-Start-->
<div id="carousel-example-generic2" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        @Html.CarouselItem("item active", "carousel-caption", "~/Content/biblioteka-pierwsza.jpg", "biblioteka-pierwsza", "...Gdy się ktoś zaczyta, zawsze się czegoś nauczy, albo zapomni o tym, co mu dolega, albo zaśnie - w każdym razie wygra", "Piotr Skarga")
        @Html.CarouselItem("item", "carousel-caption", "~/Content/biblioteka-druga.jpg", "biblioteka-druga", "Bardzo wiele książek należy przeczytać po to, aby sobie uświadomić, jak mało się wie", "Mikołaj Gogol")
        @Html.CarouselItem("item", "carousel-caption", "~/Content/biblioteka-trzecia.jpg", "biblioteka-trzecia", "Hodor, hodor hodor hodor hodor! Hodor hodor, hodor", "Hodor")
    </div>

    <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<!--carousel-End-->

<div class="row">
    <div class="col-md-4">
    @Html.Partial("_NewestBooksPartial")
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Biblioteka w ASP.NET</h1>
            <p class="lead">Serwis poświęcony informacjom o książkach dostępnych w polskich bibliotekach.</p>
            <p class="col-md-3">@Html.ActionLink("Statystyki", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>

        </div>
    </div>
</div>

