﻿@model MVCInBuiltFeatures.Models.Book

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły książki</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Library.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Library.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>

    </dl>
</div>
<p>
    @if ((this.User.IsInRole("Admin") || this.User.IsInRole("Moderator")))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.BookID }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
</p>
