﻿@model PagedList.IPagedList<MVCInBuiltFeatures.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Książki";
}

<h2>Lista książek</h2>

<p>
    @if ((Request.IsAuthenticated && User.IsInRole("Admin")) || (Request.IsAuthenticated && User.IsInRole("Moderator")))
    {
        @Html.ActionLink("Dodaj książkę", "Create", null, new { @class = "btn btn-primary" })
    }
</p>
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
<p>
        Wyszukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Szukaj</button>
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nazwa biblioteki", "Index", new { sortOrder = ViewBag.LibrarySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Tytuł", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Autor", "Index", new { sortOrder = ViewBag.AuthorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Isbn", "Index", new { sortOrder = ViewBag.IsbnSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Library.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                <div class="btn-group">
                @Html.ActionLink("Szczegóły", "Details", null, new { id = item.BookID }, new { @class = "btn btn-default" })
                @if ((Request.IsAuthenticated && User.IsInRole("Admin")) || (Request.IsAuthenticated && User.IsInRole("Moderator")))
                {
                    @Html.ActionLink("Edytuj", "Edit", null, new { id = item.BookID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Usuń", "Delete", null, new { id = item.BookID }, new { @class = "btn btn-default" })

                }
                </div>
            </td>
        </tr>
    }

</table>
<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))