﻿@model MVCInBuiltFeatures.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj kontem";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmiana ustawień konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Stwórz", "SetPassword")
            }
            ]
        </dd>
        <dt>Zewnętrzne konta logowania:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Zarządzaj", "ManageLogins") ]
        </dd>
    </dl>
</div>
