﻿@{
    ViewBag.Title = "Potwierdź email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       Twój email został potwierdzony. @Html.ActionLink("Kliknij tutaj aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
